* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    margin: auto;
    gap: 24px;
}

p {
    font-size: 24px;
}


button {
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
    font-size: 18px;
    background-color: white;

}

label {
    font-size: 16px;
}

input,
select {
    border-radius: 8px;
    padding: 4px;
    font-size: 16px;
    border: 1px solid black
}

.ct-grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 8px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 24px;
}

.ct-grid-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    align-items: center;
}

.ct-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 760px;
    border-radius: 16px;
    background-color: whitesmoke;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ct-item {
    height: 164px;
    margin: 8px 16px 8px 16px;
    padding: 0px 16px 0px 16px;
    border: 4px solid black;
    border-radius: 16px;
    background-color: white;
    transition: border-color 0.2s;
}

.ct-item:hover {
    border-color: cyan;
    transition: border-color 0.2s;
}

.selected {
    border-color: yellowgreen;
    transition: border-color 0.2s;
}

.ct-monitor {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 24px 0 24px;
    align-items: center;
    height: 120px;
    bottom: 0;
    background-color: whitesmoke;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    gap: 24px;
}

.ct-creation {
    display: flex;
    flex-direction: column;
    margin: 8px 16px 8px 16px;
    padding: 4px 16px 4px 16px;
    height: fit-content;
    border: 4px black;
    border-style: dashed;
    border-radius: 16px;
    background-color: white;
    gap: 8px;
    order: 1000;
}

.ct-creation p {
    font-size: 16px;
}

.valid {
    background-color: greenyellow;
}

.invalid {
    background-color: lightcoral;
}